/*NORMALIZACION-------------------------------------------------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    --Gris-oscuro2: rgb(143, 143, 143);
}
/*HEADER-------------------------------------------------------------------------------------------------------------------*/

header{
    background-color: var(--Amarillo);
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
}
header div.top-header p{
    text-align: center;
    margin-top: 10px;
}
header .form .input{
    background: var(--Gris-claro);
    outline: none;
    color: var(--Gris-oscuro);
    padding: 2px;
    height: 70%;
}
header .form .submit{
    background-color: var(--Gris-claro);
    color: var(--Gris-oscuro);
    height: 70%;
    width: 10%;
}
.submit, .input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input{
    border-radius: 9px 0px 0px 9px;
    border:1px solid var(--Gris-oscuro2);
    border-right: none;
}
.submit{
    border-radius: 0px 9px 9px 0px;
    border:1px solid var(--Gris-oscuro2);
    border-left: none;
}
.logo, .form{
    width: 50%;
}
.logo{
    padding: 10px;
}

.form{
    display: flex;  
    align-items: center;
    padding: 2px;
    font-size: 11px;
    border-radius: 5px;
}
header nav {
    font-size: 12px;
}
header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: black;
}
nav{
    display: none;
}
.input input{
    border:none;
    background-color: var(--Gris-claro);
    width: 100%;
}
/*MENU BURGUER-------------------------------------------------------------------------------------------*/
.burger-menu{
    text-align: center;
}
.burger-menu i{
    background-color: var(--Celeste);
    color:white;
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}
/*BODY---------------------------------------------------------------------------*/
body{
    font-family: 'roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 700px;
    background-color: var(--Gris-claro);
    height: 400px;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
body main div.login form input{
    margin-bottom: 20px;
    height: 40px;
    border: 2px solid var(--Celeste);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}
body main form input.enviarlogin{
    border:none;
    background-color: var(--Celeste);
    color: white;
    font-weight: bold;
    transition: 0.6s;
}
.login h2{
    font-weight: normal;
}
/*FOOTER----------------------------------------------------------------------------------------------------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.footer i{
    color: var(--Celeste);
    margin: 10px 0px;
    font-size: 25px; 
    transition: color 1s, font-size 0.3s;
}
.footer h3{
    font-size: 15px;
}
.footer p{
    color: rgb(148, 148, 148);
    font-size: 11px;
}
.footer article{
    width: 200px;
}
.copy{
    background-color: white;
    padding: 10px;
    color: rgb(148, 148, 148);
}
.footer div:hover i{
    color: var(--Azul);
    font-size: 30px;
}
/*ANIMATIONS*/
.footer div:hover i{
    color: var(--Azul);
    font-size: 30px;
}
.enviarlogin:hover{
    box-shadow: inset 0px 0px 14px 8px rgba(0,0,0,0.31);
} 

/*Querys----------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 361px){
    body main form{
        padding: 40px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 20px;
    }
    nav ul li{
        display: inline;
    }
    nav ul{
        margin-bottom:20px;
    }
    .burger-menu{
        display: none;
    }
    header .form .input{
        height: 30px;
        margin-right: 5px;
        border-radius: 9px 9px 9px 9px;
        border:1px solid var(--Gris-oscuro2);
    }
    header .form .submit{
        height: 30px;
        border:1px solid var(--Gris-oscuro2);
        border-radius: 9px 9px 9px 9px;
    }
    div.top-header{
        align-items: center;
        padding: 0px;
        margin: 0px 10px;
    }
    .logo{
        max-width: 150px;
    }
    header div.top-header p{
        margin-top: 0px;
    }
    div.top-header{
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
    body header div.top-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

}
@media (min-width: 769px){
    .logo{
        max-width: 250px;
    }
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .footer article{
        width: 300px;
    }
    .submit{
        width: 30%;
    }
    .input input{
        width: 100%;
    }
    .input{
        width: 70%;
    }
    .form{
        width: 30%;
    }
}